/*General Styling*/
html {
  margin: 0;
  font-size: 16px;
}
img, video {
  max-width: 100%;
  height: auto;
}
.imagecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
strong {
  font-weight: bold;
}
h1 {
  font-size: 2.5rem;
  font-family: "Quattrocento", serif;
  font-weight: bold;
  line-height: 1.4;
}
h2 {
  font-size: 2rem;
  font-family: "Quattrocento", serif;
  line-height: 1.4;
}
h3 {
  font-size: 1.5rem;
  font-family: "Quattrocento", serif;
  line-height: 1.4;
}
a, span, p {
  font-family: "Fanwood Text", sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
}

/*Header Styling*/
header {
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0;
  height: 4rem;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.5rem;
}
header img {
  height: 3rem;
  width: auto;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-right: 1.5rem;
}
header a {
  margin: 1rem 0.5rem;
  text-decoration: none;
  color: black;
}

/*Main Content*/
.main {
  position: relative;
  top: 4rem;
}
/* Box Structures */

  /* Level 1 Box */
.maincontainer h1 {
    padding-top: 2rem;
  text-align: center;
  padding-bottom: 1rem;
}
  /*Level 2 Box */
.flexcontainer {
  display: flex;
  justify-content: center;
}
  /*Level 3 Box*/
  /* Left */
.content-left {
  width: 55%;
  padding: 2rem 1.5rem;
}
.content-left .imagecontainer {
  padding-bottom: 2rem;
}
.content-left h2 {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid black;
}
.content-left p {
  padding-bottom: 2rem;
}

  /* Right */
.content-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 1rem 1rem;
}

  /* Level 4 Box */
.content-right--topic {
  padding: 1rem 0;
}
.content-right--topic .imagecontainer {
  width: 35%;
}
.content-right--topic .content {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  border-bottom: 1px solid #64738D;
}
.content-right--topic .content p {
  margin: 1rem 0;
}

/*Call to Action Section*/
#cta .content-right {
  justify-content: center;
}
#cta .content-right h3 {
  margin: 2rem 0;
}
#cta .btn {
  display: block;
  text-align: center;
  padding: .5rem 0;
  color: white;
  max-width: 15rem;
  background-color: #f93e25;
  border-radius: 5px;
}
#cta .btn:hover {
  background-color: #cc1b04;
}
/*Info Section*/


/*learning Section*/

#learning .courses {
  padding: 2rem 0;
  margin: 0 1.5rem;
  background: #64738D;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.courses-course {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.courses-course:nth-child(3n+2) {
  margin: 0 2rem;
}
.courses-course .content {
  padding: 1rem 1rem 0rem 1rem;
  background: white;
  height: 10rem;
}
#learning h3 {
  font-weight: bold;
}
#learning .coursefont  {
  margin: .5rem 0;
  font-size: 1rem;
}
footer {

  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  height: 4rem;
  border-top: 0.5px solid #64738D;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
}
footer span {
  font-size: 1rem;
}
